body {
    background-color: rgb(39, 50, 56);
    --color_aspiradoras: rgb(230, 203, 191);
    --color_celulares: rgb(161, 193, 203);
    --color_consolas: rgb(188, 189, 191);
    --color_home_theaters: rgb(141, 148, 161);
    --color_televisores: rgb(178, 178, 170);
}

h1 {
    background-color: white;
    color: rgb(105, 133, 147);
    text-align: center;
    padding: 5px;
    font-size: 60px;
    font-family: Impact, 'Charcoal', sans-serif;
}

p {
    color: rgb(209, 212, 208);
    font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
    text-align: justify;    
}

h2 {
    font-family: sans-serif;
    font-size: 32px;
    font-weight: 700;
    font-style: italic;
    text-transform: uppercase;
}

h2::first-letter {
    font-size: 40px;
}

img {
    margin-left: 60px;
}

.Aspiradoras {
    color: var(--color_aspiradoras);
}

#Aspiradoras {
    border: 5px solid var(--color_aspiradoras);
}

.Celulares {
    color: var(--color_celulares);
}

#Celulares {
    border: 5px solid var(--color_celulares);
}

.Consolas {
    color: var(--color_consolas);
}

#Consolas {
    border: 5px solid var(--color_consolas);
}

.Home_Theaters {
    color: var(--color_home_theaters);
}

#Home_Theaters {
    border: 5px solid var(--color_home_theaters);
}

.Televisores {
    color: var(--color_televisores);
}

#Televisores {
    border: 5px solid var(--color_televisores);
}